span{
    color: yellow;
}
.fa
{
    color: #dc3545;
}
.fa:hover{
    cursor: pointer;
    color: crimson;
}
.btn
{
    margin-bottom: 15px;
}
.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}