<div class="container">
    <h1 style="margin-top: 15px">Shopping Cart</h1>
    <div class="row col-10" *ngIf="cart$ | async as cart">
      <p style="color: white">
         You have <span>{{ cart.totalItemsCount }}</span> items in your shopping cart.
      </p>
      <hr>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th class="text-center" style="width: 230px">Quantity</th>
            <th  class="text-right" style="width: 200px">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>
              <div [style.backgroundImage]="'url(' + item.imgUrl + ')'" class="thumbnail"></div>
            </td>
            <td> {{ item.title }} </td>
            <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
            <td class="text-right"> {{ item.totalItemPrice | currency: 'USD'}} </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
              <th></th>
              <th></th>
              <th></th>
              <th class="text-right">{{ cart.totalPrice | currency: 'USD' }}</th>
          </tr>
        </tfoot>
      </table>
      <button class="btn btn-danger" (click)="clear()">Clear Shopping Cart</button>
      <button *ngIf="cart.totalItemsCount > 0" style="margin-left: 15px;" class="btn btn-success" routerLink="/checkOut">Check Out</button>
    </div>    
</div>